*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#nav{
    list-style: none;
    font-size: 2rem;
    /* list ko  end to end show krne ke liye */
    display: flex;
    justify-content: space-around;
    /*  */
    margin-left: 20px;
    margin-right: 20px;
    
    
}


.container{
    width: 100%;
    height: 100%;
    /* background-color: aqua; */
    background-color: #D9AFD9;
background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);

    overflow-x: none;
}
.navcontainer{
    width: 100%;
    /* background-color: blueviolet; */
    background-color: #4158D0;
background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

    min-height: 40px;
    
}
#heading{
    font-size: 2.5rem;
    color: aliceblue;

}
a{
    text-decoration: none;
    color:white;
    /* border: solid black 2px;
    border-radius: 20%;
    padding: 2px;
    text-align: end; */
}
/* nav items ki spacing krne ke liye */
#items{
    display: flex;
    gap: 20px;
}
.footer{
    width: 100vw;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
min-height: 50px; 
text-align: center;   
    

    
}
.maincontainer{
    width: 70%;
    height:100%;
    margin: auto;
    border: 1px solid black;
    box-shadow: 3px 3px 3px black;
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 40px;
    transition: all 1s ease-out allow-discrete;

}
.maincontainer:hover{

 transform: scale(1.001);  
 box-shadow: 3px 3px 3px black; 
}
.item{
    display: flex;
    justify-content: space-around;

}
.rightbox img{
    transition: all 0.5s ease-out allow-discrete;

    height: 200px;
    width: 200px;
    border-radius: 40%;
    border: solid black;
}
.rightbox img:hover{
          transform: scale(1.2);

}

.leftbox{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.leftbox h2{
    font-size: 2rem;
}